In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.


A database is an organized collection of structured information, or data, typically
stored electronically in a computer system. A database is usually controlled by a database
management system (DBMS).

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured
query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

In [ ]:
 Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
    
    
 DDL is data definition language.DDL statements are similar to a computer programming language for
defining data structures, especially database schemas.
(i) CREATE is a DDL command used to create databases, tables, triggers and other database objects.

Syntax to create a new table:

CREATE TABLE table_name    
(  
column_Name1 data_type ( size of the column ) ,    
column_Name2 data_type ( size of the column) ,    
column_Name3 data_type ( size of the column) ,    
...    
column_NameN data_type ( size of the column )  
) ;   

(ii) DROP is a DDL command used to delete/remove the database objects from the SQL database.
We can easily remove the entire table, view, or index from the database using this DDL command.
Example 2: This example describes how to remove the existing table from the SQL database.

Syntax to remove a table:

DROP TABLE Table_Name;  
(iii) ALTER is a DDL command which changes or modifies the existing structure of the database,
and it also changes the schema of database objects.
We can also add and drop constraints of the table using the ALTER command.
Example 1: This example shows how to add a new field to the existing table.

Syntax to add a newfield in the table:

ALTER TABLE name_of_table ADD column_name column_definition;  

(iv) TRUNCATE is another DDL command which deletes or removes all the records from the table.
This command also removes the space allocated for storing the table records.

Syntax of TRUNCATE command

TRUNCATE TABLE Table_Name;  
(v) RENAME is a DDL command which is used to change the name of the database table.

Syntax of RENAME command
RENAME TABLE Old_Table_Name TO New_Table_Name;  
Example
RENAME TABLE Student TO Student_Details ;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML is data manipulation language.
SELECT − Retrieve data from the database.
INSERT − Insert data into a table.
UPDATE − Update existing data within a table.
DELETE − Delete records from a database table.

# Example of insert command
Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);
Insert into Employee(Emp_id, Emp_name) values (002, “ hari”);
Insert into Employee(Emp_id, Emp_name) values (003, “ bob”);

# Example of select command
SELECT * from Employee;

# Example of delete command
DELETE from Employee WHERE Emp_id=002;

# Example of update command
UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

DQL is data query language.Query languages, often known as DQLs or Data Query Languages, are computer
languages that are used to make various queries in information systems and databases.
SELECT: It is used to retrieve data from the database.
# ExampleGet your own SQL Server
SELECT CustomerName, City FROM Customers;

In [ ]:
 Q5. Explain Primary Key and Foreign Key.
    
Primary keys serve as unique identifiers for each row in a database table.
Foreign keys link data in one table to the data in another table. A foreign key column in a table
points to a column with unique values in another table (often the primary key column) to create a way
of cross-referencing the two tables.

In [2]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


# Python program to connect
# to mysql database

import mysql.connector


# Connecting from the server
conn = mysql.connector.connect(user = 'username',
							host = 'localhost',
							database = 'database_name')

print(conn)

# Disconnecting from the server
conn.close()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
    

But SQL processes queries in the order: FROM, JOIN, WHERE, GROUP BY, HAVING, SELECT, DISTINCT, ORDER BY,
and finally, LIMIT/OFFSET.